<section>
    <div class="container">
        <img role="presentation" *appLazyImage="'/assets/Me-min.jpg'" src="/assets/Me.jpg" />
        <article>
            <h1>Hey👋, It's <strong>Vitali</strong></h1>
            <h2>I'm a <strong class="typewriter">Developer</strong></h2>
            <p>I'm a full-stack software engineer with a passion for building creative, efficient, and innovative
                solutions.</p>
            <div class="actions">
                <a aria-label="link to download a CV" href="/assets/Vitali Gerzhuk CV.pdf" target="blank"
                    class="btn highlight-border">Check my CV</a>
            </div>
        </article>
    </div>
</section>