<section>
    <div class="wrapper">
        <h2>Background</h2>

        <div class="container">
            <div class="timeline"></div>

            <div class="article-row" appIntersection rootMargin="-20%" [unobserveOnReach]="true">
                <span class="date">Sep 2020 - Jun 2024</span>
                <article>
                    <h3>
                        Bachelor of Software Engineering - State University of Intelligent Technologies and
                        Telecommunications, Odesa, Ukraine
                    </h3>
                    <p>
                        During my time at university, I dove deep into computer science, building a solid foundation in
                        both theory and practice. My coursework was a wild ride through object-oriented programming,
                        algorithms, data structures, operating systems, computer networks, software engineering,
                        database systems, and web development.
                    </p>
                </article>
            </div>
            <div class="article-row" appIntersection rootMargin="-20%" [unobserveOnReach]="true">
                <span class="date">??? - ???</span>
                <article>
                    <h3>Future Aspirations and Career Goals</h3>
                    <p>
                        Looking ahead, I am very excited to join Full Stack Engineering where I will be able to express
                        my love for building end-to-end solutions. I can't wait to dive into innovative projects using
                        modern frameworks and libraries like React and Angular for great user interfaces, and Express
                        and NestJS for powerful server-side applications. My goal? To push the boundaries of progressive
                        web applications by building scalable, efficient and effective solutions using these advanced
                        technologies.
                    </p>
                </article>
            </div>
        </div>
    </div>
</section>